<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <appSettings>
    <add key="PortNumber" value="4000"/>
    <add key="BacklogSize" value="20"/>
    <add key="RootPath" value="k:\kmud\KaerberMUD\"/>
    <add key="AssetsRootPath" value="k:\kmud\KaerberMUD\assets\"/>
    <add key="PlayersRootPath" value="k:\kmud\KaerberMUD\assets\players\"/>
    <add key="UsersRootPath" value="k:\kmud\KaerberMUD\assets\users\"/>
    <add key="LibPath" value="k:\kmud\KaerberMUD\lib\"/>
    <add key="MlLibPath" value="k:\kmud\KaerberMUD\assets\ml\"/>
    <add key="CommandsPath" value="k:\kmud\KaerberMUD\assets\commands.data"/>
    <add key="AffectsPath" value="k:\kmud\KaerberMUD\assets\affects.data"/>
  </appSettings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
